/*!       Hidden anims       */
@keyframes hidd-Y{
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hiddY {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hidd-X {
    0%{
        opacity: 0;
    }
    60% {
        transform: translateX(-25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: .8;
    }
}
@keyframes hiddX {
    0%{
        opacity: 0;
    }
    60% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: .8;
    }
}
@keyframes hr_load {
    0%{
        width: 0%;
    }
    30%{
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
@keyframes footer_anim {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes footer_-anim {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*!       General       */
/*   hr   */
.hr_load{
    animation: hr_load 2s;
}

/*   footer   */
.footer_load{
    animation: footer_anim 1s;
    opacity: 0;
}
.footer_-load{
    animation: footer_-anim 1s;
    opacity: 0;
}
.footer_load, .footer_-load[data-scroll="in"] {
    opacity: 1;
}

/*!       Menu       */
/*   Title   */
.hiddenY{
    animation: hidd-Y 1s;
}
/*   Grid   */
.it1{
    animation: hidd-X 3s;
}
.it2{
    animation: hiddX 3s;
}
.it3{
    animation: hidd-X 3s;
}
.it4{
    animation: hiddX 3s;
}

/*!       Neu 120       */
/*   Title   */
.title_h1{
    animation: hidd-Y 1s;
}