nav{
    height: 3000px;
    width: 15%;
    float: left;
}
.nav_div{
    position: sticky;
    top: 1rem;
    width: 80%;
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.1);
    clip-path: polygon(0 0,calc(100% - 40.00px) 0,100% 40.00px,100% 100%,0 100%);
}

/*      Nav text*/
nav ul{
    list-style: none;
    margin-left: -3.5rem;
}
nav li{
    margin-bottom: 1rem;
}
nav a{
    transition: color 0.4s;
    color: white;
    font-family: 'Barlow', sans-serif;
}
.nav a:hover{
    color: aqua;
}
.nav_a{
    padding-left: 0.5rem;
    
    font-size: 1.2rem;
    font-weight: bold;
}
.nav_p{
    padding-left: 1rem;
}

/*      When on screen addition*/
.active{
    color: #a68eff;
    font-weight: bold;
    border-left: 2px solid #a68eff;
}

/*      Responsive*/
@media screen and (max-width: 1400px){
    nav{
        visibility: hidden;
        width: 0px;
    }
}