html, body{
    margin: 0%;
    background-color: #f2f2f2;
    font-family: ubuntu;
}
p{
    text-indent: 1rem;

}

/*!       Header       */
header{
    margin-top: -1.5rem;

    background-image: url(IMG/CPU_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50rem;

    color: #f2f2f2;
    font-size: 3rem;
}
.header_h1{
    position: absolute;
    left: 50rem;
    bottom: 25rem;
}

/*!       Main       */
main{
    width: 55%;
    margin-inline: auto;
}

.div_top{
    width: 50%;
    margin-left: auto;
    margin-right: 0;

    font-size: 1.3rem;
}