/*!       General       */
nav{
    height: 3000px;
}
h2, h3, h4, h5{
    font-family: 'Barlow', sans-serif;
}
.para-2{
    width: 100%;
}

/*!       Main       */
.fix_bg-1 {
    background-image:url(IMG/neumann_janos_gyerekkora.jpg);
}
.fix_bg-2 {
    background-image:url(IMG/neumann_gimnazium.jpg);
}
.fix_bg-3{
    background-image: url(IMG/neumann_munkaja.png);
}
.fix_bg-4{
    background-image: url(IMG/neumann_tech.png);
}