/*!       Hamburger       */
.toggler{
    z-index: 100;

    height: 50px;
    width: 50px;
    position: fixed;
    top: 1rem;
    right: 5px;
    cursor: pointer;
    opacity: 0;
}
.hamburger{
    z-index: 99;

    position: fixed;
    top: 1rem;
    right: 5px;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/*     Lines     */
:root{
    --line_height: 3px;
    --line_apart: 12px;
    --line_border_radius: 10px;
    --line-after-bg-color: linear-gradient(45deg, #00aeff, #a68eff);
}
.hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: white;
    border-radius: var(--line_border_radius);

    width: 70%;
    height: var(--line_height);

    transition: all  0.4s ease;
}
.hamburger > div::before,
.hamburger > div::after{
    content: "";
    position: absolute;
    top: calc(var(--line_apart) - (var(--line_apart) * 2));
    background: white;
    border-radius: var(--line_border_radius);

    width: 100%;
    height: var(--line_height);

    transition: all  0.4s ease;
}
.hamburger > div::after{
    top: var(--line_apart);
}

/*     Lines Transitioned    */
.toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
    width: 90%;
    
}
.toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
    background: var(--line-after-bg-color);
}
.toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
    background: var(--line-after-bg-color);
}

/*     Menu    */
.menu{
    transition: all 0.4s ease;
}
.ul_bg{
    height: 3rem;
    padding-top: 0.75rem;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

/*!       List       */
.menu >  div > ul{
    z-index: 99;

    position: fixed;
    top: 0;
    right: 4rem;
    display: flex;
    flex-direction: row;
    visibility: hidden;
    list-style: none;
    padding-inline-start: 0;
}
.toggler:checked ~ .menu > div > ul{
    transition: visibility 0.4s ease;
    transition-delay: 0.1s;
    visibility: visible;
    animation: slidedown 1s;
}
.toggler:not(:checked) ~ .menu > div > ul{
    animation: slideup 1s reverse;
}
.toggler:checked ~ .menu > div > ul > li{
    animation: slidein 1s;
}
.toggler:not(:checked) ~ .menu > div > ul > li{
    animation: slideout 1s reverse;
}

@keyframes slidein {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
    }
    40%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideout {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
    }
    40%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slidedown {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }
    20%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes slideup {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
    }
    20%{
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }
}
.header_icon{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;

    margin-inline: 15px;

    --icon_size: 35px;

    height: var(--icon_size);
    width: var(--icon_size);
    padding-left: 1.5rem;

    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header_icon:hover{
    transform: scale(1.3);
}

/*     Icons     */
.google_drive_icon{
    background-image: url(IMG/Google_Drive_icon.png);
}
.github_icon{
    background-image: url(IMG/Git_Hub_icon.png);
}
.tutels_icon{
    background-image: url(IMG/turtle.png);
    scale: 0.9;
}
.home_icon{
    background-image: url(IMG/house.png);
}

/*     Tooltip     */
.tooltip {
    position: relative;
    display: inline-block;
}
/*     Tooltip text     */
.tooltip .tooltip_txt {
    position: absolute;
    top: 57px;
    right: -10px;
    z-index: 1;

    visibility: hidden;
    width: 110px;
    background: linear-gradient(45deg, #00aeff, #a68eff);
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    padding: 5px 0;
    
    clip-path: polygon(0 125.00px,125.00px 0,100% 0,100% calc(100% - 125.00px),calc(100% - 125.00px) 100%,0 100%);
}
.tooltip:hover .tooltip_txt {
    visibility: visible;
}