/*!       Header       */
.header_title{
    width: 35%;  /* Kisebb nézetnél fejebb kell venni */
    margin: auto;

    display: grid;
    grid: 100%/repeat(6, 1fr);
    padding-top: 0;
    padding-bottom: 4.5rem;
    padding-inline: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.header_title .hover{
    height: 10rem;
    position: relative;
    display: grid;
    place-items: center;
}
.header_title h1{
    font-size: 6rem;
    color: transparent;
    text-align: 0 1px 1px;
    -webkit-text-stroke: 2px #a68eff;
    text-shadow: none;
    
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header_title .hover:hover h1{
    transform: scale(1.5);

    background: linear-gradient(45deg, #00aeff, #a68eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*!       Main       */
main h2, p{
    font-family: 'Share Tech Mono', monospace;
    font-weight: 100;
}

/*     Grid     */
.grid-con {
    display: grid;
    width: 92rem;
    margin: auto;

    grid-gap: 1rem;
    --grid-column: 32.5rem;
    grid-template-columns: 25rem var(--grid-column) var(--grid-column);
    grid-template-rows: 20rem 20rem;

    background-color: rgba(255, 255, 255, .1);
}
.grid-con > div {
    background-color: rgba(255, 255, 255, .1);

    transition: 0.5s;
}

.it2, .it3{
    grid-column: span 2;
}
.grid-con > div:hover{
    scale: 1.05;
}
.click_div{
    cursor: pointer;
    padding: 1rem;
    color: transparent;

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0);
}
.click_div:hover{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    color: white;
}
.it1{
    background-image: url(IMG/neumann_janos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.it2{
    background-image: url(IMG/alaplap.webp);
    background-size: cover;
}
.it3{
    background-image: url(IMG/intel-amd.jpg);
    background-size: cover;
    background-position: center;
}