/*!       General       */
html, body{
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    background-color: #f2f2f2;

    background-color: #333;
}
a{
    cursor: pointer;
    text-decoration: none;
}
p{
    text-indent: 1rem;
}

/*     Scrollbar     */
::-webkit-scrollbar {
    display: none;
}

/*!       Header       */

